{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title> Выбрать подпись </title>

{% endblock title %}


{% block content %}

<div class="container">
    <form method="get" action="{% url 'signs:create_sign' %}">
        <div class="row my-2 sign">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sign" id="sign1" value="new">
                    <label class="form-check-label" for="sign1">
                        Новая подпись
                    </label>
                </div>
            </div>
            <div class="col-10">
                <img src="{% static 'img/new_sign.png' %}">
            </div>
        </div>
        <div class="row my-2 sign">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sign" id="sign2" value="old">
                    <label class="form-check-label" for="sign2">
                        Старая подпись
                    </label>
                </div>
            </div>
            <div class="col-10">
                <img src="{% static 'img/old_sign.png' %}">
            </div>
        </div>
        <div class="text-center">
            <!-- Заменили <a> на <button> и добавили type="submit" для отправки формы -->
            <button type="submit" class="btn btn-miran">Выбрать</button>
        </div>
    </form>
</div>

{% endblock %}
