nav {
    background: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.14);
    z-index: 12;
    border-radius: 4px;
}

main {
    padding-top: 70px;
    padding-bottom: 70px;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #C4D126;
}

.form-control {
    border: #C4D126 1px solid;
}

.form-control:focus {
    border-color: #C4D126;
    box-shadow: 0 0 12px rgba(196, 209, 38, 0.8);
}

.btn-miran {
    background-color: #C4D126;
    color: white;
    border: #C4D126 2px solid;
}

.btn-miran:hover {
    background-color: #fafafa;
    color: #C4D126;
    border: #C4D126 2px solid;
}
