nav {
    background: #ffffff;
    /*box-shadow: 0 0 9px rgb(196, 209, 38);*/
    border-bottom: 1px solid #c4d126;
    z-index: 12;
    /*border-radius: 4px;*/
}

nav-footer {
    background: #515558;
    /*box-shadow: 0 0 9px rgb(196, 209, 38);*/
    border-top: 1px solid #c4d126;
    z-index: 12;
    /*border-radius: 4px;*/
}

main {
    padding-top: 70px;
    padding-bottom: 70px;
    /*background: #515558;*/
}

.card-header {
    background-color: #c4d126;
}

.card-footer {
    background-color: #c4d126;
}

.nav-link {
    color: #000;
}

.nav-item {
    font-size: 20px;
}

.nav-link:hover {
    color: #C4D126;
}

.link-acc {
    color: #000;
    text-decoration: none;
}

.link-acc:hover {
    color: #ffffff;
    text-decoration: none;
}

.form-control {
    border: #C4D126 1px solid;
}

.form-control:focus {
    border-color: #C4D126;
    box-shadow: 0 0 12px rgba(196, 209, 38, 0.8);
}

.table-secondary {
    /*--bs-table-bg: #5c6062;*/
    /*--bs-table-color: #C4D126;*/
    --bs-table-bg: #C4D126;
    --bs-table-color: #212529;
}

*/
/* .card-group .card {
    height: 345px;
    width: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
} */

/* .card-group .card-book:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
} */

/* .card-group .card .card-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .card-group .card .card-image img {
    max-width: 100%;
    max-height: 100%;
} */

/* .card-group .card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.btn-miran {
    background-color: #C4D126;
    color: #000000;
    border: #C4D126 2px solid;
}

.btn-miran:hover {
    background-color: #5c6062;
    color: #C4D126;
    /*border: #C4D126 2px solid;*/
}

.table-hover>tbody>tr:hover>* {
    /*color: #ffffff;*/
    /*background-color: #C4D126;*/
    color: black;
    background-color: #dde4e5;
}

.table>tbody {
    --bs-table-bg: #F1F1EBD1;
}

.dropdown-menu {
    padding: 10px 5px 7px 5px;
}

.dropdown-header {
    padding: 2px;
    font-size: 20px;
    color: #C4D126;
    text-align: center;
    background-color: #515558;
}

.dropdown-divider {
    margin: 7px 0;
    border-top: 1px solid #C4D126;
}

.h1 {
    color: #c4d126;
}

.search {
    border: 1px solid #C4D126;
    border-radius: 10px;
    /*background-color: #0d6efd;*/
}

.breadcrumb-item {
    color: #0b5ed7;
}

.breadcrumb {
    --bs-breadcrumb-divider-color: #0d6efd;
    --bs-breadcrumb-item-active-color: #0d6efd;
}

.password-input {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    border: none !important;
    outline: none !important;
}

.sign {
    border: 1px solid #0f5132;
}


.form-check-input:checked {
    background-color: #24e80f;
    /* Цвет фона для выделенного элемента */
}