/*nav {*/
/*    background: #3e3f3f;*/
/*    box-shadow: 0 0 10px rgba(20, 20, 20, 0.86);*/
/*    height: 50px;*/
/*    border-radius: 3px;*/
/*}*/

/*.navbar-expand-xl {*/
/*    padding-top: 0;*/
/*    padding-bottom: 0;*/
/*}*/

/*main {*/
/*    margin-top: 55px;*/
/*}*/

.nav-link {
    color: #e6e0e0;
}

.nav-link:hover {
    color: #66cc66;
}

.nav-link:focus {
    color: #66cc66;
}

