{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title>Вход в систему</title>
{% endblock title %}

{% block content %}

{% if messages or form.errors %}
<div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %}
        alert-dismissible fade show" role="alert" style="margin-top: 50px;">
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% else %}
    {{ form.non_field_errors }}
    {% endif %}
</div>
{% endif %}
<div class="col-xl-12 text-center my-3">
    <h3>Войти в систему</h3>
    <div>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-md-center">
                <div class="my-2">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                    {{ form.username }}
                </div>
                <div class="my-2">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                    {{ form.password }}
                </div>
            </div>
            <div class="my-2">
                <button class="btn btn-success" type="submit">Войти</button>
            </div>
        </form>
    </div>
    <div class="col-md-auto my-md-3">
        <a href="{% url 'users:registration' %}">Нужен аккаунт? Зарегистрируйся! |</a>
        <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
    </div>
</div>

{% endblock content %}
