{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div>
    {% if validlink %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-xl-4 mx-auto">
                <div class="card-header text-center">
                    <h5 class="my-1"> Пожалуйста введите и подтвердите новый пароль.</h5>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="error-message text-danger">
                            {{ form.new_password2.errors }}</div>
                        <div class="mb-3 position-relative">
                            <label for="id_new_password1"
                                   class="form-label">Новый пароль
                                <span class="text-danger"><b>*</b></span>
                            </label>
                            <div class="password-input">
                                <input type="password"
                                       name="new_password1"
                                       id="id_new_password1"
                                       class="form-control"
                                       placeholder="Введите новый пароль"
                                       required>
                                <button class="btn eye-icon "
                                        type="button"
                                        onclick="togglePassword('id_new_password1', 'eye-icon1')">
                                <img src="{% static 'img/invisible.webp' %}"
                                     id="eye-icon1"
                                     alt="">
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 position-relative">
                            <label for="id_new_password2"
                                   class="form-label">Подтверждение пароля
                                <span class="text-danger"><b>*</b></span>
                            </label>
                            <div class="password-input">
                                <input type="password"
                                       name="new_password2"
                                       id="id_new_password2"
                                       class="form-control"
                                       placeholder="Подтвердите новый пароль"
                                       required="">
                                <button class="btn eye-icon "
                                        type="button"
                                        onclick="togglePassword('id_new_password2', 'eye-icon2')">
                                <img src="{% static 'img/invisible.webp' %}"
                                     id="eye-icon2"
                                     alt="">
                                </button>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-miran ">Сменить пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1>Ошибка при смене пароля!!!</h1>
    <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже
        использовалась. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
</div>

<script>
    function togglePassword(inputId, iconId) {
    let input = document.getElementById(inputId);
    let icon = document.getElementById(iconId);
    if (input.getAttribute('type') === 'password') {
        input.setAttribute('type', 'text');
        icon.setAttribute('src', '{% static "img/eye-open.webp" %}');
    } else {
        input.setAttribute('type', 'password');
        icon.setAttribute('src', '{% static "img/invisible.webp" %}');
    }
}
</script>

{% endblock content %}
