{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title>Список книг</title>
{% endblock title %}

{% block content %}

<h1 class="text-center">Список книг</h1>

<div class="container-xl position-relative">
    <div class="row">
        <div class="col-6 text-start pe-4">
            <a id="toggleLink" onclick="toggle_search()" href="#">Показать фильтр поиска</a>

        </div>
        <div class="col-6 text-end pe-4">
            {% if request.user.is_staff %}
            <a id="" onclick="" href="{% url 'books:print_qr' %}">Распечатать QR</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid my-1 p-0">
    <div class="row container-fluid p-0 m-0 search" id="bookHistoryTable" style="display: none; ">
        <form action="{% url 'books:book_list_card' %}" method="post">
            {% csrf_token %}
            <div class="row container-fluid px-auto ">
                <div class="col-12 col-sm-3 py-1">
                    <p>
                        <label for="id_author">Автор книги:</label>
                        <input type="text" name="author" class="form-control" id="id_author" value="{{ author }}">
                    </p>
                    <p>
                        <label for="id_title">Название книги:</label>
                        <input type="text" name="title" class="form-control" id="id_title" value="{{ title }}">
                    </p>
                </div>
                <div class="col-12 col-sm-3 py-1">
                    <p>
                        <label for="id_status">Статус книги:</label>
                        <select name="status" class="form-control" id="id_status">
                            <option value="" >{% if status == "" %}  {% endif %} ------------------ </option>
                            <option value="OPEN">{% if status == "OPEN" %}  {% endif %}Свободна</option>
                            <option value="CLOSE">{% if status == "CLOSE" %}{% endif %}В пользовании</option>
                        </select>
                    </p>
                    <p>
                        <label for="id_reader">Читатель:</label>
                        <input type="text" name="reader" maxlength="100" class="form-control" id="id_reader"
                            value="{{ reader }}">
                    </p>
                </div>
                <div class="col-12 col-sm-3 d-flex justify-content-center py-1">
                    <div class="text-center mt-4">
                        <p>
                            <button type="submit" class="btn btn-miran btn-block">Применить
                                фильтр
                            </button>
                        </p>
                        <p>
                            <button type="submit" class="btn btn-miran mt-4 container-fluid" name="clear_filter"
                                value="1">Очистить фильтр
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card-group">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6"
         style="margin-left: -2px; margin-right: -2px">
        {% for book in books%}
        <div class="card card-book">
            <div class="card-image table-row-link text-center"
                 data-href="{{ book.get_absolute_url }}">
                <img src="/media/{{ book.label }}" class="card-img-top text-center" alt="..."
                    style="width: 150px; height: 220px">
            </div>
            <div class="card-body table-row-link" data-href="{{ book.get_absolute_url }}">
                <p class="card-title"><b>{{ book.title }}</b><br> {{book.author}}, {{book.year}}</p>
            </div>
            <div class="text-center">
                {% if user.is_authenticated %}
                    <a href="{% url 'books:edit' book.slug %}" class="btn btn-sm btn-primary m-0 p-0">Редактировать</a> |
                    <a href="#" class="btn btn-danger m-0 p-0"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal">Удалить</a></p>
                    <div class="modal fade" id="deleteModal" tabindex="-1"
                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Вы уверены что хотите удалить книгу?
                                </div>
                                <div class="modal-footer m-auto">
                                    <a href="{% url 'books:delete' book.slug %}"
                                       class="btn btn-danger">Удалить</a>
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Отмена
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>
</div>

<script>
    function toggle_search() {
        const div = document.getElementById("bookHistoryTable");
        const link = document.getElementById("toggleLink");
        if (div.style.display === "none") {
            div.style.display = "inline-flex";
            link.textContent = "Скрыть фильтр поиска";
        } else {
            div.style.display = "none";
            link.textContent = "Показать фильтр поиска";
        }
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tableRows = document.querySelectorAll('.table-row-link');
        tableRows.forEach((row) => {
            row.addEventListener('click', function () {
                const href = this.getAttribute('data-href');
                if (href) {
                    window.location.href = href;
                }
            });
        });
    });
</script>

{% endblock %}
