{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title>Список книг</title>
{% endblock title %}

{% block content %}

<h1 class="text-center">Список книг</h1>

<div class="container-xl position-relative">
    <div class="row">
        <div class="col-2 text-start pe-4 mb-2">
            <a id="toggleLink" onclick="toggle_search()">
                <img src="{% static 'img/funnel.svg' %}"
                     alt="..."
                     width="20px"
                     height="20px"
                />
            </a>
        </div>
        <div class="col-10 text-end pe-4">
            {% if request.user.is_staff %}
            <a href="{% url 'books:taken_books' %}" >Список книг в пользовании</a>
            <span style="color: red"> <--- | ---> </span>
            <a id="sendSelectedBooks"
               class="link-underline"
               style="cursor: pointer">
                Распечатать QR-code выбранных книг
            </a>
            <span style="color: red"> <--- | ---> </span>
            <a id="" onclick="" href="{% url 'books:print_qr' %}"> Распечатать QR-code всех книг</a>
            {% endif %}
        </div>
    </div>
</div>


<div class="container search my-1"
     id="search_book"
     style="display: none;">
    <form action="{% url 'books:book_list_card' %}" method="get">
        <div class="row container-fluid px-auto ">
            <div class="col-12 col-sm-3  pb-1 px-2">
                <label for="id_author">Автор книги:</label>
                    {{ form.author }}
                <label for="id_title">Название книги:</label>
                    {{ form.title}}
            </div>
            <div class="col-12 col-sm-3 pb-1 px-2">
                <label for="id_status">Статус книги:</label>
                    {{ form.status }}
                <label for="id_reader">Читатель:</label>
                    {{ form.reader }}
            </div>
            <div class="col-12 col-sm-3 d-flex justify-content-center pb-1 px-2">
                <div class="text-center mt-4">
                        <button type="submit"
                                class="btn btn-miran btn-block">Применить фильтр
                        </button>
                        <button type="submit" class="btn btn-miran "
                                name="clear_filter"
                                style="margin-top: 20px; width: 168px;"
                                value="1">Очистить фильтр
                        </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6"
     style="margin-right: 0px; margin-left: 0px;">
    {% for book in books%}
    <div class="col card-col">
        <div class="card card-book h-100">
            <div class="card-image card-link text-center"
                 data-href="{{ book.get_absolute_url }}">
                <img src="/media/{{ book.label }}" class="card-img-top text-center" alt="..."
                    style="width: 150px; height: 220px">
            </div>
                <div class="card-body card-link ms-0"
                     data-href="{{ book.get_absolute_url }}"
                     style="padding: 3px 3px 3px 3px;">
                    <p class="card-title mb-0"><b>{{ book.title }}</b><br> {{book.author}}, {{book.year}}</p>
                </div>
                {% if request.user.is_staff %}
                <div class="row m-0" >
                    <div class="col-2 p-0">
                        <div class="d-flex align-items-center justify-content-center h-100"
                             style="font-size: 16px;">
                            <b>{{ forloop.counter }}</b>
                        </div>
                    </div>
                    <div class="col-8 p-0">
                        <div class="text-center mb-1">
                        <a href="{% url 'books:edit' book.slug %}" style="font-size: 14px;"
                           class="btn btn-sm btn-primary m-0 p-0">Редактировать</a>
                        <button class="btn btn-sm btn-danger m-0 p-0" style="font-size: 14px;"
                        onclick="deleteBook('{{ book.title }}','{% url 'books:delete' book.slug %}')">Удалить
                        </button>
                        <div class="modal fade"
                             id="deleteModal"
                             tabindex="-1"
                             aria-labelledby="deleteModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Вы уверены что хотите удалить книгу <b><span
                                            id="deleteBookTitle"></span></b>?
                                    </div>
                                    <div class="modal-footer m-auto">
                                        <a href="#" id="deleteBookLink"
                                           class="btn btn-danger">Удалить</a>
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Отмена
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-2 p-0">
                        <div class="d-flex align-items-center justify-content-center h-100">
                        <input type="checkbox" class="book-checkbox card-checkbox" data-id="{{ book.id }}">
                        </div>
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function deleteBook(bookTitle, bookUrl) {
        document.getElementById('deleteBookTitle').innerText = bookTitle;

        const deleteLink = document.getElementById('deleteBookLink');
        deleteLink.href = bookUrl;

        const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        deleteModal.show();
    }
</script>

<script>
    function toggle_search() {
        const div = document.getElementById("search_book");
        const link = document.getElementById("toggleLink");
        if (div.style.display === "none") {
            div.style.display = "inline-flex";
            link.innerHTML = `<img src="{% static 'img/funnel-fill.svg' %}"
                                    alt="..."
                                    width="20px"
                                    height="20px"
            />`;
        } else {
            div.style.display = "none";
            link.innerHTML = `<img src="{% static 'img/funnel.svg' %}"
                                    alt="..."
                                    width="20px"
                                    height="20px"
            />`;
        }
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tableRows = document.querySelectorAll('.card-link');
        tableRows.forEach((row) => {
            row.addEventListener('click', function () {
                const href = this.getAttribute('data-href');
                if (href) {
                    window.location.href = href;
                }
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const linkSelectedBooks = document.getElementById('sendSelectedBooks');
    if (!linkSelectedBooks) {
        return;
    }
    linkSelectedBooks.addEventListener('click', function () {
        const checkboxes = document.querySelectorAll('.book-checkbox:checked');
        const selectedBooks = Array.from(checkboxes).map(function (checkbox) {
            return checkbox.dataset.id;
        });

        const params = new URLSearchParams();
        selectedBooks.forEach(id => params.append('selectedBooks[]', id));

        const url = '{% url "books:print_selected_qr" %}' + '?' + params.toString();
        window.location.href = url;
    });
});

</script>

{% endblock %}
