{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title>Список книг</title>
{% endblock title %}

{% block content %}

<h1 class="text-center">Список книг</h1>
<div>
    <table class="table table-hover table-bordered">
        <thead class="table-secondary" style=" height: 50px;">
        <th class="text-center align-middle">Автор</th>
        <th class="text-center align-middle">Название книги</th>
        <th class="text-center align-middle px-1">Статус книги</th>
        <th class="text-center align-middle">Читатель </th>
        <th class="text-center align-middle">Краткое описание книги</th>
        </thead>
        <tbody>
        {% for book in books %}
        <tr class="table-row-link" data-href="{{ book.get_absolute_url }}">
            <td>{{ book.author }}</td>
            <td>{{ book.title }}</td>
            <td style="text-align: center; white-space: nowrap;" >
                {% if book.status == 'CLOSE' %}В пользовании{% else %} Свободна {% endif %}
            </td>
            <td style="text-align: center; white-space: nowrap">
                {% if book.status == 'CLOSE' %}
                {{ book.reader }}
                {% else %}
                {% endif %}
            </td>
            <td>{{ book.description|truncatewords:20 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tableRows = document.querySelectorAll('.table-row-link');
        tableRows.forEach((row) => {
            row.addEventListener('click', function () {
                const href = this.getAttribute('data-href');
                if (href) {
                    window.location.href = href;
                }
            });
        });
    });
</script>
{% endblock content %}
