{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title>Список книг</title>
{% endblock title %}

{% block content %}

<nav aria-label="breadcrumb"  style="border-bottom: none">
  <ol class="breadcrumb my-1">
<!--    <li class="breadcrumb-item"><a href="#">Главная</a></li>-->
    <li class="breadcrumb-item active" aria-current="page">Библиотека</li>
<!--    <li class="breadcrumb-item">Данные</li>-->
  </ol>
</nav>

<div class="container-xl my-1">
    <form action="{% url 'books:list_books' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-2 p-0">
                <p>Фильтр поиска: </p>
            </div>
            <div class="col-10">
                <p><a id="toggleLink" onclick="toggle_table()" href="#">Показать</a></p>
            </div>
        </div >
        <div class="row search container-fluid" id="bookHistoryTable" style="display: none">
            <div>
                <h5 class="text-center mt-2">Фильтр поиска</h5>
            </div>
            <div class="col-12 col-sm-3">
                <p>
                    <label for="id_author">Автор книги:</label>
                    <input type="text" name="author" class="form-control" id="id_author" value="{{ author }}">
                </p>
                <p>
                    <label for="id_title">Название книги:</label>
                    <input type="text" name="title" class="form-control" id="id_title" value="{{ title }}">
                </p>
            </div>
            <div class="col-12 col-sm-3">
                <p>
                    <label for="id_status">Статус книги:</label>
                    <select name="status" class="form-control" id="id_status">
                        <option value="" {% if status == '' %}selected{% endif %}>------------------</option>
                        <option value="OPEN" {% if status == 'OPEN' %} selected {% endif %}>Свободна</option>
                        <option value="CLOSE" {% if status == 'CLOSE' %}selected{% endif %}>В пользовании</option>
                    </select>
                </p>
                <p>
                    <label for="id_reader">Читатель:</label>
                    <input type="text" name="reader" maxlength="100" class="form-control"
                           id="id_reader"  value="{{ reader }}">
                </p>
            </div>
            <div class="col-12 col-sm-3 d-flex justify-content-center">
                <div class="text-center mt-4">
                    <p>
                    <button type="submit" class="btn btn-miran btn-block">Применить
                        фильтр</button>
                    </p>
                    <p>
                    <button type="submit"  class="btn btn-miran mt-4 container-fluid" name="clear_filter"
                            value="1">Очистить фильтр</button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>

<h1 class="text-center">Список книг</h1>
<div class="container-xl p-0">
    <table class="table table-hover table-bordered">
        <thead class="table-secondary" style=" height: 50px;">
        <th class="text-center align-middle">Номер</th>
        <th class="text-center align-middle">Автор</th>
        <th class="text-center align-middle">Название книги</th>
        <th class="text-center align-middle">Статус книги</th>
        <th class="text-center align-middle">Читатель </th>
<!--        <th class="text-center align-middle">Краткое описание книги</th>-->
        {% if request.user.is_staff %}
        <th class="text-center align-middle">На печать</th>
        <th class="text-center align-middle">Действия с книгой</th>
        {% endif %}
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td style="width: 100px;" class="text-center">{{ forloop.counter }}</td>
            <td class="align-middle table-row-link" data-href="{{ book.get_absolute_url }}">{{ book.author }}</td>
            <td class="align-middle table-row-link" data-href="{{ book.get_absolute_url }}">{{ book.title }}</td>
            <td style="" class="text-center align-middle table-row-link" data-href="{{ book.get_absolute_url }}">
                {% if book.status == 'CLOSE' %} В пользовании {% else %} Свободна {% endif %}
            </td>
            <td style="" class="text-center align-middle table-row-link" data-href="{{ book.get_absolute_url }}">
                {% if book.status == 'CLOSE' %}
                {{ book.reader }}
                {% else %}
                {% endif %}
            </td>
<!--            <td class="align-middle table-row-link" data-href="{{ book.get_absolute_url }}">{{ book.description|truncatewords:20 }}</td>-->
        {% if request.user.is_staff %}
            <td class="align-middle py-0 text-center">
                <img src="{{ book.qr_code.url }}"
                     id="{{ book.slug }}"
                     width="30"
                     height="30"
                     style="max-width: 100%;"
                     alt="QR-code"
                >
            <a href="#" onclick="printQR('{{ book.slug }}')" class="btn btn-sm btn-secondary m-0 p-0">Напечатать QR-code</a>
            </td>
            <td style="white-space: nowrap;" class="text-center align-middle">
                <a href="{% url 'books:edit' book.slug %}" class="btn btn-sm btn-primary m-0 p-0">Редактировать</a> |
                <a href="#" class="btn btn-danger m-0 p-0" data-bs-toggle="modal"
                   data-bs-target="#deleteModal">Удалить</a>
                <div class="modal fade" id="deleteModal" tabindex="-1"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                Вы уверены что хотите удалить книгу?
                            </div>
                            <div class="modal-footer m-auto">
                                <a href="{% url 'books:delete' book.slug %}"
                                   class="btn btn-danger">Удалить</a>
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Отмена
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </td>
        {% endif %}

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tableRows = document.querySelectorAll('.table-row-link');
        tableRows.forEach((row) => {
            row.addEventListener('click', function () {
                const href = this.getAttribute('data-href');
                if (href) {
                    window.location.href = href;
                }
            });
        });
    });
</script>
<script>
    function printQR(id) {
        const imageSrc = document.getElementById(id).src;

        if (!imageSrc) {
            console.error("Источник изображения не найден.");
            return;
        }

        const imageSize = "width='100' height='100'";
        const imageStyles = "style='position: absolute; top: 0; left: 0;'";

        const printWindow = window.open('', '_blank');
        const printDocument = `
            <!DOCTYPE html>
            <html lang="">
            <head>
            </head>
            <body>
                <img src="${imageSrc}" ${imageSize} ${imageStyles}  alt=""/>
            </body>
            </html>
        `;

        printWindow.document.write(printDocument);
        printWindow.document.close();

        printWindow.onload = function () {
            printWindow.print();
            printWindow.close();
        };
    }
</script>
<script>
    function toggle_table() {
    const table = document.getElementById("bookHistoryTable");
    const link = document.getElementById("toggleLink");
    if (table.style.display === "none") {
        table.style.display = "inline-flex";
        link.textContent = "Скрыть";
    } else {
        table.style.display = "none";
        link.textContent = "Показать";
    }
}
</script>

{% endblock content %}
