{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title>Список книг с QR-code</title>
{% endblock title %}

{% block content %}

<div class="my-2">
    <table class="table table-hover table-bordered">
        <thead class="table-secondary">
        <th class="text-center align-middle">Автор</th>
        <th class="text-center align-middle">Название книги</th>
        <th class="text-center align-middle">QR-code книги</th>
        <th class="text-center align-middle">На печать</th>
        <th class="text-center align-middle">Редактировать</th>
        </thead>
        <tbody >
        {% for book in books %}
        <tr>
            <td class="align-middle py-0">{{ book.author }}</td>
            <td class="align-middle py-0">{{ book.title }}</td>
            <td class="align-middle py-0">
                <img src="{{ book.qr_code.url }}"
                 id="{{ book.slug }}"
                 width="30"
                 height="30"
                 style="max-width: 100%;"
                 alt="QR-code"
                >
            </td>
            <td class="align-middle py-0">
                <a href="#" onclick="printImage('{{ book.slug }}')">Напечатать QR-code</a>
            </td>
            <td
                    class="align-middle py-0"><a href="{% url 'books:edit' book.slug %}">
                Редактировать</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function printImage(id) {
    const imageSrc = document.getElementById(id).src;

    if (!imageSrc) {
            console.error("Источник изображения не найден.");
            return;
        }

    const imageSize = "width='100' height='100'";
    const imageStyles = "style='position: absolute; top: 0; left: 0;'";

    const printWindow = window.open('', '_blank');
    const printDocument = `
            <!DOCTYPE html>
            <html lang="">
            <head>
            </head>
            <body>
                <img src="${imageSrc}" ${imageSize} ${imageStyles}  alt=""/>
            </body>
            </html>
        `;

    printWindow.document.write(printDocument);
    printWindow.document.close();

    printWindow.onload = function () {
        printWindow.print();
        printWindow.close();
    };
}
</script>
{% endblock content %}
