<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}

<head>
    {% block title %}
    <title>Главная страница</title>
    {% endblock title %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>

    {% block css %}
    {% endblock css %}

</head>
<body>

<header class="container">
    <nav class="navbar navbar-expand-md fixed-top py-0">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse py-2" id="navbarCollapse">
                <a href="https://www.miran-bel.com/" target="_blank">
                    <img
                            src="{% static 'img/miran-logo.webp' %}"
                            class="d-inline-block align-top"
                            height="56"
                            alt="Logo"
                            loading="lazy"
                    />
                </a>
                <ul class="navbar-nav me-auto container-fluid justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="#">Список сотрудников</a>-->
                    <!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'books:list_books' %}">Библиотека</a>
                    </li>
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="#">Link</a>-->
                    <!--                    </li>-->
                    <li class="nav-item px-5">
                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <a class="dropdown-toggle-no-caret nav-link"
                               id="navbarDropdownMenuAvatar"
                               type="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {{ user.email }}
                            </a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuAvatar">
                                <li><h1 class="dropdown-header">{{user}}</h1></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Мой профиль</a></li>
                                <li><a class="dropdown-item"
                                       href="{% url 'users:logout' %}">Выход</a>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <ul class="navbar-nav container-fluid justify-content-center me-auto mb-2 mb-md-0">
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link" href="{% url 'users:registration' %}">Регистрация</a>-->
                            <!--                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
                            </li>
                            {% endif %}
                        </ul>

                    </li>
                </ul>
                    <form class="d-flex col-3">
                    <input class="form-control me-2" type="search" placeholder="Поиск"
                           aria-label="Поиск">
                    <button class="btn btn-miran" type="submit">Поиск</button>
                    </form>


            </div>
        </div>
    </nav>
</header>

<main class="container-xl">

    {% block content %}
    <h1>First string</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Lorem!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Last string</h1>
    {% endblock %}

</main>

<footer class="container-xl">
    <nav class="navbar fixed-bottom navbar-expand-sm">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse2" aria-controls="navbarCollapse2"
                    aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-center" id="navbarCollapse2"
                 style="">
                <ul class="navbar-nav">
                    <li class="nav-item  ">
                        <a class="nav-link  py-0" href="https://facebook.com/miran.bel"
                           target="_blank">
                            <img src="{% static 'img/fb.webp' %}"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="https://www.instagram.com/miran.upakovka/"
                           target="_blank">
                            <img src="{% static 'img/instagram.webp' %}"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="https://www.pinterest.com/miran0934/pins/"
                           target="_blank">
                            <img src="{% static 'img/pinterest.webp' %}"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0"
                           href="https://www.youtube.com/channel/UC9Fme9Vcdy0lDHWdMdHu0MQ?view_as=subscriber"
                           target="_blank">
                            <img src="{% static 'img/youtube.webp' %}"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>

