<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}

<head>
    {% block title %}
    <title>Главная страница</title>
    {% endblock title %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>

    {% block css %}
    {% endblock css %}

</head>
<body>

<header class="header fixed-top container-xl">
    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid">
            <div class="d-flex">
                <img
                        src="{% static 'img/logo.webp' %}"
                        height="40"
                        alt="Logo"
                        loading="lazy"
                />
            </div>
            <div class="navbar-nav justify-content-center container-fluid">
                <a class="nav-link" href="/">Главная</a>
                <a class="nav-link" href="#">Список сотрудников</a>
                <a class="nav-link" href="{% url 'books:list_books' %}">Библиотека</a>
            </div>
            <div class="d-flex">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="dropdown-toggle-no-caret"
                       id="navbarDropdownMenuAvatar"
                       type="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img
                                src="{% static 'img/avatar.webp' %}"
                                class="rounded-circle"
                                height="40"
                                alt=""
                                loading="lazy"
                        />
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar">
                        <li><span>{{user}}</span></li>
                        <li><a class="dropdown-item" href="#">My profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
                    </ul>
                </div>
                {% else %}
                <a class="nav-link" href="{% url 'users:registration' %}"> Регистрация </a>
                <span style="color: #cbe5f1; padding-left: 5px; padding-right: 5px">|</span>
                <a class="nav-link" href="{% url 'users:login' %}"> Вход </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<main class="main container-xl">
    {% block content %}
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    <h1>LAKSNCFKLASDCSD</h1>
    {% endblock %}

</main>

<footer class="footer fixed-bottom container-xl">
    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid justify-content-center">
            <a class="nav-link" href="https://facebook.com/miran.bel" target="_blank">
                <img src="{% static 'img/fb.webp' %}"/>
            </a>
            <a class="nav-link" href="https://www.instagram.com/miran.upakovka/"  target="_blank">
                <img src="{% static 'img/instagram.webp' %}"/>
            </a>
            <a class="nav-link" href="https://www.pinterest.com/miran0934/pins/" target="_blank">
                <img src="{% static 'img/pinterest.webp' %}"/>
            </a>
            <a class="nav-link" href="https://www.youtube.com/channel/UC9Fme9Vcdy0lDHWdMdHu0MQ?view_as=subscriber" target="_blank">
                <img src="{% static 'img/youtube.webp' %}"/>
            </a>
        </div>
    </nav>
</footer>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
